.message-wrapper {
    width: 281px;
    height: 56px;
    border-radius: 6px;
    padding: 0 26px;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: left;
    color: #FFFFFF;
    font: normal normal normal 13px/16px Helvetica;
    opacity: 0;
    transition: 0.3s ease-in-out;

    &.success {
        background: #66BB6A 0% 0% no-repeat padding-box;
        box-shadow: 0px 10px 15px #4CAF505C;
    }

    &.error {
        background: #EF7DA0 0% 0% no-repeat padding-box;
        box-shadow: 0px 10px 15px #EF7DA05C;
    }
}