<div class="wh-100">
    <div class="messages-row">
        <app-message [type]="messageEnum.SUCCESS"></app-message>
        <app-message class="right" [type]="messageEnum.ERROR"></app-message>
    </div>

    <div class="data-row">
        <div class="left">
            <div class="button-row">
                <app-button [text]="'Create User'" [routerLink]="'/new'"></app-button>
            </div>
            <div class="datatable">
                <app-table></app-table>
            </div>
        </div>
        <div class="right">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>