<div class="user-wrapper">
  <div class="user-header">
    <div class="title">{{userId === 'new' ? 'Create new user' : this.userForm.get('first_name')?.value + ' ' + this.userForm.get('last_name')?.value}}</div>
    <img src="../../assets/close.svg" alt="Close icon" [routerLink]="'/'">
  </div>

  <form [formGroup]="userForm">
    <div class="input-wrap">
      <label for="username">Username*</label>
      <div class="input-tag-wrap">
        <input name="username" type="text" appUserFormValidator [fieldName]="'Username'" formControlName="username">
      </div>
    </div>
    <div class="input-wrap">
      <label for="email">First name*</label>
      <div class="input-tag-wrap">
        <input type="text" appUserFormValidator [fieldName]="'First name'" formControlName="first_name" >
      </div>
    </div>
    <div class="input-wrap">
      <label for="email">Last name*</label>
      <div class="input-tag-wrap">
        <input type="text" appUserFormValidator [fieldName]="'Last name'" formControlName="last_name">
      </div>
    </div>
    <div class="input-wrap">
      <label for="email">Email*</label>
      <div class="input-tag-wrap">
        <input type="text" appUserFormValidator [fieldName]="'Email'" formControlName="email">
      </div>
    </div>
    <div class="input-wrap">
      <label for="email">Type*</label>
      <div class="input-tag-wrap">
        <select formControlName="user_type">
          <option *ngFor="let type of userTypeEnum | keyvalue" [value]="type.value">{{type.value}}</option>
        </select>
      </div>
    </div>
    <div class="input-wrap">
      <label for="email">Password*</label>
      <div class="input-tag-wrap">
        <input type="password" appUserFormValidator [fieldName]="'Password'" formControlName="password">
      </div>
    </div>
    <div class="input-wrap">
      <label for="email">Repeat password*</label>
      <div class="input-tag-wrap">
        <input type="password" appUserFormValidator [fieldName]="'Repeat password'" formControlName="repeat_password">
      </div>
      <div class="error" *ngIf="userForm.hasError('notSame') && userForm.get('repeat_password')!.touched">Passwords don't match</div>
    </div>
  </form>
  <div class="user-buttons-row around" *ngIf="userId === 'new'">
    <app-button [text]="'Create'" (click)="createUser()"></app-button>
  </div>
  <div class="user-buttons-row between" *ngIf="userId !== 'new'">
    <app-button [text]="'Delete'" [type]="buttonEnum.DELETE" (click)="deleteUser()"></app-button>
    <app-button [text]="'Save'" (click)="updateUser()"></app-button>
  </div>
</div>